streamlit
numpy
pandas
seaborn
matplotlib
fastapi
langchain-community
langgraph
langchain
langchain-openai
dotenv
pydantic
typing
pydantic[email]
uvicorn
fastapi
streamlit
langchain-core
langchain-huggingface
langgraph
langgraph-supervisor 
uvicorn[standard]
pillow
faiss-cpu
sentence-transformer
langchain-text-splitters
langchain-openai
langchain-faiss
huggingface_hub
python-dotenv
langchain-huggingface
langchain-core
sentence-transformers
numpy
chromadb
pydub
librosa
fastmcp

torch
torchvision
scikit-learn
matplotlib
numpy
mglearn
gym 
gymnasium 
tensorflow